.Counter {
  width: 320px;
  height: 80px;
  flex-shrink: 0;
  background-color: #fafafa; /* Light background for each counter */
  padding: 0px; /* Reduced padding for better alignment */
  border-radius: 20px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: row; /* Change flex direction to row */
  justify-content: space-between; /* Distribute items across the container */
  align-items: center; /* Vertically center the items */
  text-align: center;
}

.CounterName {
  width: 80%;
  height: 100%;
  align-items: center;
  align-content: center;
}

.CounterTitle {
  color: #013d21;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.12px;
  margin: 0;
  padding: 0;
}

.CounterPurpose {
  color: black;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 11px;
  font-weight: 500;
  line-height: normal;
  margin: 0;
  padding-top: 5px;
}

.QueueNumber {
  width: 20%; /* Queue number takes up less space */
  height: 100%; /* Make queue number full height of the counter */
  flex-shrink: 0;
  border-radius: 0px 20px 20px 0px;
  background: #00713d;
  font-family: "Roboto", sans-serif;
  font-size: 25px;
  font-weight: bold;
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
